.guide-1599222968979 .multiline.textField textArea{

}
.guide-1599222968979 .guideFieldNode:not(.guideButton):not(.guideTextDraw):not(.guideChart){
min-height: 120px;
}
.guide-1599222983656 .multiline.textField textArea{

}
.guide-1599222983656 .guideFieldNode:not(.guideButton):not(.guideTextDraw):not(.guideChart){
min-height: 120px;
}
.guide-1599222441048 .multiline.textField textArea{

}
.guide-1599222441048 .guideFieldNode:not(.guideButton):not(.guideTextDraw):not(.guideChart){
min-height: 120px;
}
